.player_bracket {
    display: flex;
}

.green-indicator {
    width: 10px;
    background-color: green;
    /* height: 100%; */
    /* position: absolute; */
    /* top: 0;
    left: 0; */
}

.red-indicator {
    width: 10px;
    background-color: red;
    /* position: absolute; */
    /* top: 0;
    left: 0; */
}

.grey-indicator {
    width: 10px;
    background-color: grey;
    /* position: absolute; */
    /* top: 0;
    left: 0; */
}

.player_bracket_live {
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

.blink {
    animation: blink 2s infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
