.footer-href:hover {
    cursor: pointer;
}

.footer {
    width: 195px;
    border-bottom: 25px solid rgb(248, 246, 246);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 52px solid transparent;
    transform: rotate(270deg);
    position: fixed;
    line-height: 23px;
    font-size: 9px;
    right: -60px;
    top: 400px
}


.footer-logo-text {
    margin: -35px 14px;
    font-size: 13px;
    color: rgb(109, 105, 105);

}

.footer-logo-span {
    color: rgb(207, 17, 17);
    font-size: 9px;
    margin-left: 11px;
    margin-right: 8px;

}

.footer img {
    width: 22%;
    position: relative;
    right: 10px;
}