.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    z-index: 150;
}

.modal {
    position: fixed;
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(62, 32, 192);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index: 200;
    width: 95%;
    max-width: 150rem;
    max-height: 95vh; /* Limit the height to 80% of the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
}

.content {
    overflow: auto;
}
