.discord_logo_block {
    display: flex;
    margin-top: 5px;
    /* width: 50%; */
}

.discord_logo {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-image: url('./discord.png');
}

.discord_logo_block a {
    color: #000;
    margin-left: 10px;
    text-decoration: none;
}

.discord_logo_block a:hover {
    color: rgb(104, 99, 99);
    text-decoration: none;
}

.tg_logo_block {
    display: flex;
    margin-top: 5px;
    /* width: 50%; */
}

.tg_logo {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-image: url('./tg_bcg.png');
}

.tg_logo_block a {
    text-decoration: none;
    color: #000;
    margin-left: 11px;
}

.tg_logo_block a:hover {
    color: rgb(104, 99, 99);
    text-decoration: none;
}

.youtube_logo_block {
    display: flex;
    margin-top: 3px;
    /* width: 50%; */
}

.youtube_logo {
    width: 25px;
    height: 25px;
    background-size: cover;
    background-image: url('./youtube.png');
}

.youtube_logo_block a {
    text-decoration: none;
    color: #000;
    margin-left: 14px;
}

.youtube_logo_block a:hover {
    color: rgb(104, 99, 99);
    text-decoration: none;
}