.container {
    position: relative;
    max-width: 1400px;
    min-height: auto;
    margin: 0 auto;
    margin-top: calc(6rem + 30px);
    overflow: visible;
    box-shadow: 0 12px 36px rgba(0, 0, 0, 0.28);
}

.container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, #160624, #2b0849);
    z-index: -1;
}
