.container {
    max-width: 1200px;
    /* height: 92vh; */
    margin: 0 auto;
    /* background-color: grey; */
    overflow: hidden;
    box-shadow: 0 40px 160px rgba(177, 170, 170, 0.2), 0 16px 32px rgba(226, 219, 219, 0.2),
        0 32px 64px rgba(231, 217, 217, 0.2), 0 64px 128px rgba(167, 154, 154, 0.2), 0 128px 256px rgba(0, 0, 0, 0.2);
    transform: translateZ(0);
}

.container:before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: linear-gradient(45deg, #160624, #2b0849);
    z-index: -1;
}
