.help-ico {
    /* display: flex; */
    position: fixed;
    right: 40px;
    bottom: 50px;
    box-sizing: content-box;
    width: 3%;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #38546E;
    padding: 10px;
    cursor: pointer;
}

.donate-ico {
    position: fixed;
    left: 60px;
    bottom: 50px;
    box-sizing: content-box;
    width: 3%;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #38546E;
    padding: 10px;
    cursor: pointer;
}

.add-game {
    position: fixed;
    right: 45px;
    bottom: 150px;
    width: 50px;
    height: 50px;
    background-color: #30cc30;
    border-radius: 50%;
    border: 1px solid #ffffff;
    font-size: 25px;
    padding: 35px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-game::before,
.add-game::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 5px;
    background-color: #ffffff;
}

.add-game::before {
    transform: translate(-50%, -50%) rotate(90deg);
}

.add-game::after {
    transform: translate(-50%, -50%);
}